/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Sacramento&display=swap');

/*RESET*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {

	font-family: 'Lato', sans-serif;
	/*background-color: #F0F0F0;*/
	line-height: 1.5rem;
	font-size: 18px;
  /*height: 100%;*/

}

.main-font{
	font-family: 'Lato',  sans-serif;
	line-height: 1.5rem;
	font-size: 16px;

}

.app-container{
  min-height: 100%;
}

.app-main{
  overflow: auto;
  padding-bottom: 275px;
}



.page-container {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
  padding-bottom: 80px;
}
.content-wrap {
  flex: 1;
}




/**********************************HEADER******************************************/
.banner {
	height: auto;
	background-color: #050A30;

}

.header-position{
	position: relative;
}

.searchgroup{
width: 50%;
}

.header-font{
	font-size: 12px !important;
	font-family: sans-serif !important;	
	color: white;
}

.header-font:hover {
	cursor: pointer;
	color: #0C2D48;
}

.btn:hover {
    color: #fff
}

.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #f8c146;
    outline: 0px
}

.form-control {
    border: 1px solid #f8c146
}

.searchIcon{
	height: 2rem;
}

.search-box{
	height: 2.4rem;
	/*margin-right: 25px;*/
	/*position: relative;*/
	border-radius: 0 !important;
	border-color: white !important;
	color: white;
	/*background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat right;*/
	/*background-size: 20px;*/
}

.search-box,input, select, textarea{
	color: white !important;
	box-shadow: none !important;
	width: 15rem;
}

.search-box:hover {
	background-color: 
#0C2D48;

}

.search-button{
	position: absolute;
	height: 2.4rem;
	top: -2% !important;
	right: 35%!important;
	/*padding-right: 25px;*/
	background-color: transparent !important;
	opacity: 100% !important;
	border-color: transparent !important;

}

.search-button:hover {
	background-color: inherit;
	border-color: transparent;
	color: inherit;
}


.search-button:active,.search-button:focus {
	background-color: inherit!important;
	border-color: transparent!important;
	outline-color: inherit !important;
	box-shadow: none !important;
}

.search-button:visited {
	background-color: inherit!important;
	border-color: transparent!important;
	outline-color: white !important;
	color: white !important;
}



.cart-button{
	margin-left: 1.5rem;
	height: 2.4rem;
	width: 7rem;
	border-color: white !important;
	color: white  !important;
	border-radius: 0  !important;
	box-shadow: none !important;
}

.cart-button:hover {
background-color: #0C2D48 !important;
}

.cart-badge{
	border-radius: 50% !important;
	height: 1.5rem;
	position: absolute;
	top: -30%;
	right:-2%;
}

.header-link{
	text-decoration: none;
}

.header-logout-register-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: white;
    cursor:pointer;
    overflow: hidden;     
}

.header-font:hover {
	color: #0C2D48;
}

/**********************************HEADER END******************************************/
.products--bikes{
	height: 18rem;
}

.products--frames{
	max-width: 100%;
	height: 21rem;
}

.card-product-title{
	margin-top:0;
}

/*********************************NAV BAR***********************************************/
.navbar {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	background: #0C2D48;
	/*min-height: 5vh;*/
	height: auto;
	text-align: center;
}

.burger-icon .line{
	border-color: white  !important;
	background-color: white !important;
}

.navbar-toggler .line{
width: 100%;
float: left;
height: 2px;
background-color: #fff;
margin-bottom: 5px;
}

.nav-list {
	/*padding-right: 2rem;*/
	color: white !important;
}




.navbar-dark .navbar-nav .nav-link.active {
	color: #909090!important;
}

.nav-list {
  position: relative;
  display: block;
  text-decoration: none;
  color: #909090;
  text-transform: uppercase;
  padding: 1px 0;
  transition: 0.5s;
}
.nav-list::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: #909090;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.nav-list:hover {
  color: #909090!important;
}
.nav-list:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/********************PRODUCTS**********************/
.card:hover {
  /*transform:scale(1.1);*/
        transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}

.card {
  /*border-radius: 0!important;*/
  /*border: 1px solid #e5e5e5 !important;*/
}

.productView-image{
	object-fit: cover;  
	height: 25vh;
}

.productView-container{ 
	width: 70rem !important;

}

.productView-description-text{
	width: 20rem!important;
}



.products-link{
	text-decoration: none !important;
}

hr {
  height: 1px;
  margin: 50px 0;
 /* background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0)), color-stop(0.5, #333333), to(rgba(0, 0, 0, 0)));*/
  background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(to left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(to left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #333333, rgba(0, 0, 0, 0));
  border: 0;
}
hr:after {
  display: block;
  content: '';
  height: 30px;
 /* background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));*/
  background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
  background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
}
/*************productView size Dropdown*****************/
.productView-list{
	color: black;
}

select{
				width: 14rem;
        color: black !important;
         text-indent: 0.5rem;
 
}

.text-link {
    color: inherit !important;
    text-decoration: inherit !important;
}

.product-cards{
	/*object-fit: cover;*/
	/*width: 600px;*/
max-width: 100%;
max-height: 100%;
}


/* Cart */
.cart-container {
  padding: 2rem 4rem;
}
.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
}
.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}
.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}
.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}
.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}

/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .amount {
  font-weight: 700;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #4b70e2;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}


 /* Cart */
 @media (max-width: 665px) {
  .cart-container {
    padding: 2rem;
  }
  .cart-container .titles {
    display: none;
  }
  .cart-item,
  .cart-container .titles {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .cart-item .cart-product-total-price {
    justify-self: left;
  }
  .cart-summary {
    flex-direction: column;
  }
  .cart-summary {
    margin-bottom: 2rem;
  }
}



/* CSS */
.clear-cart {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.clear-cart:active,
.clear-cart:hover,
.clear-cart:focus {
  outline: 0;
}


.clear-cart:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.clear-cart:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.clear-cart:active:hover,
.clear-cart:focus:hover,
.clear-cart:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}


/************cart-remove***************/


/* CSS */
.cart-remove {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #B9B7BD;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.cart-remove:active {
  border-bottom-color: #a2a6ac;
}

.cart-remove:active:hover {
  border-bottom-color: #a2a6ac;
}

.cart-remove:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.cart-remove:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}


/************cart-remove***************/

  /************cart-buttons**************/


/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #173b67;
  border-radius: 0;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 14rem;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.button-9:hover{
	background:#405cf5 ;
}

  /***************registration*********************/
  .gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}
.gradient-custom-4 {
  /* fallback for old browsers */
  /*background: #84fab0;*/

  /* Chrome 10-25, Safari 5.1-6 */
  /*background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));*/

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))*/
}



/* CSS */
.register-button {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.register-button:disabled {
  cursor: default;
  opacity: .3;
}

.register-button:hover {
  background-image: linear-gradient(#51A9EE, #147BCD);
  border-color: #1482D0;
  text-decoration: none;
}

.register-button:active {
  background-image: linear-gradient(#3D94D9, #0067B9);
  border-color: #006DBC;
  outline: none;
}

.register-button:focus {
  box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
  outline: none;
}

input, select, textarea{
    color: #4E4F50 !important;
}

/*********Spinner************/
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/**********************************ORDERS******************************************/


.order-product{
	width: 170px;
}


.order-product-name{
	width: 145px;
}


/*****************************ADMIN**********************************/
.dashboard-link{
	text-decoration: none !important;
}


/*******************FOOTER*************************/
.footer-dark {
  padding:40px 0;
  color:#f0f9ff;
  background-color:#282d32;
  height: 275px;
  margin-top: -275px;
  clear: both;
  /*position:absolute;*/
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px !important;
}

.footer-text {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
}

/*************************SUCCESS PAGE USER**********************/
/*.success-user{
  height: 100vh;
}*/

/*.navbar-toggler-icon {
    background-color: white  !important;;
}*/